<a href="https://colab.research.google.com/github/VictoriaXY6/AI_course/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports section
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn import model_selection
from sklearn import linear_model

## Part 1. Loading the dataset

In [2]:
# Using pandas load the dataset (load remotely, not locally)
slime = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")
# Output the first 15 rows of the data
slime.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [3]:
# Display a summary of the table information (number of datapoints, etc.)
slime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

## Part 2. Splitting the dataset

In [4]:
# Take the pandas dataset and split it into our features (X) and label (y)
x = slime[["Temperature °C", "Mols KCL"]]
x

     Temperature °C  Mols KCL
0               469       647
1               403       694
2               302       975
3               779       916
4               901        18
..              ...       ...
995             894       847
996             327       982
997             791       213
998             769       553
999             919       452

[1000 rows x 2 columns]

In [5]:
y = slime["Size nm^3"]
y

0      6.244743e+05
1      5.779610e+05
2      6.196847e+05
3      1.460449e+06
4      4.325726e+04
           ...
995    1.545661e+06
996    6.737041e+05
997    3.477543e+05
998    8.684794e+05
999    8.476413e+05
Name: Size nm^3, Length: 1000, dtype: float64

In [6]:
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.1, random_state=0)
x_train, y_train

(     Temperature °C  Mols KCL
 785              18        61
 873             826       386
 65              518       772
 902             752       701
 317             348       288
 ..              ...       ...
 835               6        13
 192             430       560
 629             153       801
 559             726       744
 684             493       979

 [900 rows x 2 columns],
 785    2.518314e+03
 873    6.518410e+05
 65     8.230361e+05
 902    1.077368e+06
 317    2.069938e+05
            ...
 835    2.328286e+02
 192    4.957200e+05
 629    2.652735e+05
 559    1.104815e+06
 684    9.985940e+05
 Name: Size nm^3, Length: 900, dtype: float64)

In [7]:
x_test, y_test

(     Temperature °C  Mols KCL
 993             311       265
 859             951       145
 298             985       786
 553              66       317
 672              59       277
 ..              ...       ...
 485             994       881
 568             249       927
 108             293       466
 367             217       682
 644             399       823

 [100 rows x 2 columns],
 993    1.705684e+05
 859    2.878027e+05
 298    1.577891e+06
 553    4.550711e+04
 672    3.558626e+04
            ...
 485    1.785532e+06
 568    4.891863e+05
 108    2.827965e+05
 367    3.118813e+05
 644    6.808943e+05
 Name: Size nm^3, Length: 100, dtype: float64)

## Part 3. Perform a Linear Regression

In [8]:
# Use sklearn to train a model on the training set
cla = linear_model.LinearRegression()
cla.fit(x_train, y_train)

# Create a sample datapoint and predict the output of that sample with the trained model
cla.predict(np.array([[293, 466]]))

array([321578.72277709])

In [9]:
cla.score(x_train, y_train)

0.8571870071495865

In [10]:
# Report on the score for that model, in your own words (markdown, not code) explain what the score means

In [11]:
cla.score(x_test, y_test)

0.8761646752736478

This is the $R^2$ is used to evaluate the prediction perfomence. The best possible score is 1.0.

In [12]:
# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX
cla.coef_

array([ 863.58108791, 1006.12741921])

In [13]:
cla.intercept_

-400305.91333353304

 $h(x)=-400305.91333+863.58108x_1+1006.12741x_2$

## Part 4. Use Cross Validation

In [14]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data
scores = model_selection.cross_val_score(cla, x_train, y_train, cv=5) #K-fold CV
scores

array([0.83701021, 0.84691727, 0.87488706, 0.86313214, 0.83973474])

In [15]:
scores.mean()

0.8523362848961472

In [16]:
# Report on their finding and their significance

Using cross validation doesnt need hold out a validation set so we can have more data to train the classifiser. It also gives us a good measure on generalization performance without overfitting.

## Part 5. Using Polynomial Regression

In [17]:
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2
model = Pipeline([('poly', PolynomialFeatures(degree=2)),
                 ('linear', linear_model.LinearRegression(fit_intercept=False))])
model = model.fit(x_train,y_train)

In [18]:
# Report on the metrics and output the resultant equation as you did in Part 3.
model.named_steps['linear'].coef_

array([ 1.39007291e-05,  1.20000000e+01, -1.10385886e-07, -1.20938598e-11,
        2.00000000e+00,  2.85714287e-02])

In [19]:
model.score(x_test,y_test)

1.0

 $h(x)=0.00001+12x_1+2x_1x_2+0.02857{x_2}^2$